.image-with-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.image-with-text-image {
    border-radius: 1000px;
    max-width: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

.image-with-text-text {
    color: white;
    font-size: x-large;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
    max-width: 300px;
}

.section {

}