.userbar-wrapper {
    padding: 4px 18px 4px 18px;
    display: flex;
    margin: auto;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 2;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}

.user-icon {
    font-size: 35px;
    margin-right: 13px;
    margin-top: auto;
    margin-bottom: auto;
}

.star-icon {
    font-size: 18px;
    color: rgb(51, 207, 255);
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    margin-left: 10px;
    transform: translateY(-2px);
}

.user-text {
    line-height: 0;
}

.star-text {
    margin-left: 3px;
    color: rgb(38, 155, 190);
    font-size: 15px;
}

.user-text:hover {
    color: rgb(24, 194, 224);
    cursor: pointer;
}

.column-text {
    display: flex;
    flex-direction: column;
}

.skill-text {
    color: rgba(116, 65, 163, 0.836);
    font-size: 14px;
    font-weight: bold;
    line-height: 0;
    margin-top: 5px;
}