.menu-wrapper {
    background-color: $menuBgColor;
    box-shadow: $menuShadow;

    .layout-menu-container{
        .layout-menu {
            > li {
                > a, > button {
                    color: $rootMenuItemTextColor;

                    &:hover {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                    }

                    &.active-route {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                        &::before {
                            background-color: $primaryColor;
                            background-color: $activeRootMenuItemTextColor;
                        }
                    }
                }

                &.active-menuitem {
                    > a, > button {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                        &::before {
                            background-color: $primaryColor;
                            background-color: $activeRootMenuItemTextColor;
                        }
                    }
                }

                > ul {
                    > li {
                        &.active-menuitem {
                            background-color:$menuBgColor;
                            > a, > button {
                                background-color: $menuBgColor;
                                color: $primaryColor;
                                color: $activeRootMenuItemTextColor;
                            }
                        }

                        > a, > button {
                            &.active-route {
                                color: $primaryColor;
                                color: $activeRootMenuItemTextColor;
                                &::before {
                                    background-color: $primaryColor;
                                    background-color: $activeRootMenuItemTextColor;
                                }
                            }
                        }
                    }
                    li {
                        a, > button {
                            color: $submenuItemTextColor;
                            &:hover {
                                background-color: rgba($primaryColor,.2);
                                background-color: $submenuItemHoverBgColor;
                            }
                        }
                        &.active-menuitem {
                            > a , > button {
                                color: $primaryColor;
                                color: $activeRootMenuItemTextColor;
                                &::before {
                                    background-color: $primaryColor;
                                    background-color: $activeRootMenuItemTextColor;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@mixin extrenalSubmenuitem {
    li {
        > a, > button {
            color: $submenuItemTextColor;

            &:hover {
                background-color: rgba($primaryColor,.2);
                background-color: $submenuItemHoverBgColor;
            }
        }

        &.active-menuitem {
            > a, > button {
                color: $primaryColor;
                color: $activeRootMenuItemTextColor;
            }
        }
    }
}

@mixin internalSubmenu {
    .layout-menu-container {
        .layout-menu {
            > li {
                > a, > button {
                    color: $rootMenuItemTextColor;

                    &:hover {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                    }
                }

                &.active-menuitem {
                    > a, > button {
                        color: $primaryColor;
                        color: $activeRootMenuItemTextColor;
                        &::before {
                            background-color: $primaryColor;
                            background-color: $activeRootMenuItemTextColor;
                        }
                    }
                }

                > ul {
                    > li {
                        &.active-menuitem {
                            background-color: rgba($primaryColor,.2);
                            background-color: $submenuItemHoverBgColor;
                            > a, > button {
                                background-color: rgba($primaryColor,.1);
                                background-color: $submenuItemHoverBgColor;
                                color: $rootMenuItemTextColor;
                            }
                        }
                    }
                    li {
                        a, > button {
                            color: $submenuItemTextColor;
                            &:hover {
                                background-color: rgba($primaryColor,.1);
                                background-color: $submenuItemHoverBgColor;
                            }
                        }
                        &.active-menuitem {
                            > a, > button {
                                color: $rootMenuItemTextColor;
                            }
                        }
                        a, button {
                            &.active-route {
                                background-color: rgba($primaryColor,.2);
                                background-color: $slimActiveRootMenuItemBgColor;
                                color: $slimActiveRootMenuItemTextColor;

                                i {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }

                                &:hover {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $tabletBreakpoint + 1) {
    .menu-wrapper {
        &.layout-sidebar-active {
            @include internalSubmenu;
        }
    }

    &.layout-static {
        .menu-wrapper {
            @include internalSubmenu;
        }

    }

    &.layout-horizontal {
        .menu-wrapper {
            box-shadow: none;
            .layout-menu-container {
                .layout-menu {
                    > li {
                        > a, > button {
                            color: $rootMenuItemTextColor;

                            &:hover {
                                color: $primaryColor;
                                color: $activeRootMenuItemTextColor;
                            }
                        }
                        &.active-menuitem {
                            > a, > button {
                                background-color: rgba($primaryColor,.2);
                                background-color: $slimActiveRootMenuItemBgColor;
                                color: $slimActiveRootMenuItemTextColor;

                                i {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }

                                &:hover {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }
                            }
                        }
                        > ul {
                            background-color:$menuBgColor;
                            box-shadow: $menuShadow;

                            @include extrenalSubmenuitem;

                            li {
                                > a, > button {
                                    &.active-route {
                                        background-color: rgba($primaryColor,.2);
                                        background-color: $slimActiveRootMenuItemBgColor;
                                        color: $slimActiveRootMenuItemTextColor;

                                        i {
                                            color: $primaryColor;
                                            color: $slimActiveRootMenuItemTextColor;
                                        }

                                        &:hover {
                                            color: $primaryColor;
                                            color: $slimActiveRootMenuItemTextColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.layout-slim {
        .menu-wrapper {
            .layout-menu-container {
                .layout-menu {
                    .layout-menu-tooltip {
                        background-color: $menuTooltipBgColor;

                        .layout-menu-tooltip-text {
                            color: $menuTooltipTextColor ;
                        }

                        .layout-menu-tooltip-arrow {
                            border-right-color: $menuTooltipBgColor;
                        }
                    }

                    > li {
                        &.active-menuitem {
                            > a, > button {
                                background-color: rgba($primaryColor,.2);
                                background-color: $slimActiveRootMenuItemBgColor;
                                color: $primaryColor;
                                color: $slimActiveRootMenuItemTextColor;

                                i {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }

                                &:hover {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }
                            }
                        }

                        > a, > button {
                            &.active-route {
                                background-color: rgba($primaryColor,.2);
                                background-color: $slimActiveRootMenuItemBgColor;
                                color: $primaryColor;
                                color: $slimActiveRootMenuItemTextColor;

                                i {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }

                                &:hover {
                                    color: $primaryColor;
                                    color: $slimActiveRootMenuItemTextColor;
                                }
                            }
                        }

                        > ul {
                            box-shadow: $menuShadow;
                            background-color:$menuBgColor;
                            @include extrenalSubmenuitem;

                            li {
                                > a, > button {
                                    &.active-route {
                                        background-color: rgba($primaryColor,.2);
                                        background-color: $slimActiveRootMenuItemBgColor;
                                        color: $primaryColor;
                                        color: $slimActiveRootMenuItemTextColor;

                                        i {
                                            color: $primaryColor;
                                            color: $slimActiveRootMenuItemTextColor;
                                        }

                                        &:hover {
                                            color: $primaryColor;
                                            color: $slimActiveRootMenuItemTextColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tabletBreakpoint) {
    .menu-wrapper {
        @include internalSubmenu;
    }
}
